*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FAFAFA;
    margin: auto;
    width: 90%;
    height: 1314px;
    display: grid;
    grid-template-rows: 230px 950px 134px;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
}
.top-container{
    grid-area: header;
    /* background-color: lightgoldenrodyellow; */
}
.top-container h3{
    font-family: Poppins;
    padding-top: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

}
.top-container p{
    font-family: Poppins;
    padding-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.title{
    font-size: 36px;
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
}
.bottom-container{
    grid-area: main;
    /* background-color: lightblue; */
    display: grid;
    grid-template-rows: 230px 950px 134px;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
}
footer{
    grid-area: footer;
    /* text-align: center; */
    padding: 5px;
    font-family: poppins;
    /* background-color: lightcoral; */
}

footer > p{

    vertical-align: text-bottom;
    text-align: center;
    width: 100%;
}